<header class="topHeader">
  <div class="topHeader__inner l-container">

    <h1 class="topHeader__heading">
      <a class="topHeader__link" href="/">
        <img class="topHeader__logo" src="/src/images/common/logo_top_header.svg" alt="ハンドメイド猫グッズのお店 -nekonokomono- l'atelier Queue（アトリエ・クー）" width="424" height="240">
      </a>
    </h1>

    <p class="topHeader__text">
      “Queue(クー)”は、フランス語で「しっぽ」の意味です。<br>
      猫にも人にも心地好いをモットーに、猫おもちゃ、雑貨
      を作っています。
    </p>

  </div><!-- /.topHeader__inner.l-container -->
</header>
