<!DOCTYPE html>
<html lang="ja">

<%- include('../components/common/_head.ejs', { pageTitle: 'ブログタイトル　 BLOG', description: "ハンドメイド猫グッズのお店 l'atelier Queue のブログタイトルページです。" }) %>


<body class="blog">

<%- include('../components/common/_header') %>


<%- include('../components/common/_gnav') %>


<nav class="breadcrumb" aria-label="パンくずリスト">
  <ol class="breadcrumb__list l-container">
    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="/">ホーム</a>
    </li>

    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="/">ねこブログ</a>
    </li>

    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="/">ブログカテゴリ</a>
    </li>

    <li class="breadcrumb__item">
      <span aria-current="page">ブログタイトルが入ります</span>
    </li>
  </ol>
</nav>


<main class="main blog__main">
  <div class="l-container">

    <div class="primaryPost">

      <header class="primaryPost__header">
        <h1 class="primaryPost__heading">ブログタイトルが入ります。ブログタイトルが入ります。ブログタイトルが入ります。</h1>

        <div class="primaryPost__info">
          <time class="primaryPost__date" datetime="22021-11-01">2021-11-01</time>

          <spa class="primaryPost__tag tag">タグ名</spa>
        </div><!-- /.primaryPost__info -->
      </header><!-- /.primaryPost__header -->


      <div class="primaryPost__intro">
        <img class="primaryPost__eyeCatchImage"
          srcset="../../images/blog/blog04-400.jpg 400w,
                  ../../images/blog/blog04-800.jpg 800w,
                  ../../images/blog/blog04-1600.jpg 1600w,
                  ../../images/blog/blog04-2400.jpg 2400w"

          sizes="(max-width: 840px) calc(100vw - 20px * 2),
                 800px"

          src="/src/images/blog/blog04.jpg" alt="" width="800" height="500">

        <p class="primaryPost__lead">概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。</p>
      </div><!-- /.primaryPost__intro -->


      <div class="primaryPost__body">
        <h2>H2大見出し</h2>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>


        <h2>H2大見出し24px/1.5,
          上80px/下25px</h2>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>


        <h3>H3中見出し20px/1.5, 上40px/下20px</h3>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>


        <h4>H4小見出し18px/1.5, 上30px/下15px</h4>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>


        <h5>H5小見出し16px/1.5, 上30px/下10px</h5>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>


        <h6>H6小見出し16px/1.5, 上30px/下10px</h6>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>


        <ul>
          <li>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</li>

          <li>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</li>
        </ul>


        <ol>
          <li>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</li>

          <li>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</li>
        </ol>


        <table>
          <tr>
            <th>見出し</th>
            <td>テキストテキストテキスト</td>
          </tr>

          <tr>
            <th>見出し</th>
            <td>テキストテキストテキスト</td>
          </tr>
        </table>


        <img class="floatLeft" src="../../images/blog/blog05.jpg" alt="" width="520" height="348">

        <p class="blog__text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>


        <img class="floatRight" src="../../images/blog/blog06.jpg" alt="" width="520" height="348">

        <p class="blog__text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>


        <img class="center" src="../../images/blog/blog07.jpg" alt="" width="520" height="330">

        <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div><!-- /.primaryPost__body -->

    </div><!-- /.primaryPost -->


    <nav class="blog__pagination pagination02">
      <ol class="pagination02__list">
        <li class="pagination02__item">
          <a class="pagination02__prev" href="">前の記事</a>
        </li>

        <li class="pagination02__item">
          <a class="pagination02__top" href="">ねこブログトップへ戻る</a>
        </li>

        <li class="pagination02__item">
          <a class="pagination02__next" href="">次の記事</a>
        </li>
      </ol>
    </nav>

  </div><!-- /.l-container -->
</main>


<%- include('../components/common/_footer', { src: '../../' }) %>



</body>
</html>
