<!DOCTYPE html>
<html lang="ja">

<%- include('../components/common/_head.ejs', { pageTitle: 'ねこブログ　 BLOG', description: "ハンドメイド猫グッズのお店 l'atelier Queue のブログページです。" }) %>


<body class="blogTop">

<%- include('../components/common/_header') %>


<%- include('../components/common/_gnav') %>


<nav class="breadcrumb" aria-label="パンくずリスト">
  <ol class="breadcrumb__list l-container">
    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="/">ホーム</a>
    </li>

    <li class="breadcrumb__item">
      <span aria-current="page">ねこブログ</span>
    </li>
  </ol>
</nav>


<main class="main main--blogTop">
  <div class="l-container">

    <h1 class="lv1Heading">
      ねこブログ
      <span class="lv1Heading__en">BLOG</span>
    </h1>


    <nav class="main__nav primaryNav" aria-label="ブログカテゴリ">
      <ul class="primaryNav__list">
        <li class="primaryNav__item">
          <a class="primaryNav__link" href="./all.html" aria-current="page">すべて</a>
        </li>

        <li class="primaryNav__item">
          <a class="primaryNav__link" href="./brooches.html">お知らせ</a>
        </li>

        <li class="primaryNav__item">
          <a class="primaryNav__link" href="./collars.html">新作紹介</a>
        </li>

        <li class="primaryNav__item">
          <a class="primaryNav__link" href="./kerigurumi.html">ねこ店員の日常</a>
        </li>

        <li class="primaryNav__item">
          <a class="primaryNav__link" href="./accessories.html">その他</a>
        </li>
      </ul>
    </nav>


    <section class="main--blogTop__media blogMedia">
      <div class="blogMedia__body">
        <h2 class="blogMedia__heading"><a class="blogMedia__headingLink" href="./blog.html">【焼印付】爪とぎ型キーホルダー登場！</a></h2>

        <div class="blogMedia__info">
          <date class="blogMedia__date" datetime="2021-11-01">2021-11-01</date>

          <span class="blogMedia__tag tag tag--new">新商品情報</span>
        </div>

        <p class="blogMedia__text u-pc-only">概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。…</p>

        <div class="blogMedia__btnWrapper u-pc-only">
          <a class="moreBtn" href="./blog.html">もっと見る</a>
        </div>
      </div><!-- /.blogMedia__body -->

      <figure class="blogMedia__figure">
        <img class="blogMedia__image" src="../../images/blog/blog01.jpg" alt="" width="" height="">
      </figure>
    </section>


    <section class="main--blogTop__media blogMedia">
      <div class="blogMedia__body">
        <h2 class="blogMedia__heading"><a class="blogMedia__headingLink" href="./blog.html">何か問題でも…？</a></h2>

        <div class="blogMedia__info">
          <date class="blogMedia__date" datetime="2021-10-31">2021-10-31</date>

          <span class="blogMedia__tag tag">ちゃまめ氏</span>
        </div>

        <p class="blogMedia__text u-pc-only">概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。…</p>

        <div class="blogMedia__btnWrapper u-pc-only">
          <a class="moreBtn" href="./blog.html">もっと見る</a>
        </div>
      </div><!-- /.blogMedia__body -->

      <figure class="blogMedia__figure">
        <img class="blogMedia__image" src="../../images/blog/blog02.jpg" alt="" width="" height="">
      </figure>
    </section>


    <section class="main--blogTop__media blogMedia">
      <div class="blogMedia__body">
        <h2 class="blogMedia__heading"><a class="blogMedia__headingLink" href="./blog.html">里親募集型猫カフェ猫式さんの委託販売ブースにアクセサリー・猫首輪・けりぐるみを納品しました。</a></h2>

        <div class="blogMedia__info">
          <date class="blogMedia__date" datetime="2021-10-28">2021-10-28</date>

          <span class="blogMedia__tag tag">入荷情報</span>
        </div>

        <p class="blogMedia__text u-pc-only">概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。…</p>

        <div class="blogMedia__btnWrapper u-pc-only">
          <a class="moreBtn" href="./blog.html">もっと見る</a>
        </div>
      </div><!-- /.blogMedia__body -->

      <figure class="blogMedia__figure">
        <img class="blogMedia__image" src="../../images/blog/blog03.jpg" alt="" width="" height="">
      </figure>
    </section>


    <section class="main--blogTop__media blogMedia">
      <div class="blogMedia__body">
        <h2 class="blogMedia__heading"><a class="blogMedia__headingLink" href="./blog.html">ブログタイトルが入ります。ブログタイトルが入ります。</a></h2>

        <div class="blogMedia__info">
          <date class="blogMedia__date" datetime="2021-10-20">2021-10-20</date>

          <span class="blogMedia__tag tag">タグ</span>
        </div>

        <p class="blogMedia__text u-pc-only">概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。…</p>

        <div class="blogMedia__btnWrapper u-pc-only">
          <a class="moreBtn" href="./blog.html">もっと見る</a>
        </div>
      </div><!-- /.blogMedia__body -->

      <figure class="blogMedia__figure blogMedia__figure--noImage">
        No Image
      </figure>
    </section>


    <nav class="main__pagination pagination01" role="navigation">
      <ol class="pagination01__list">
        <li class="pagination01__item">
          <a class="pagination01__prev" href="">前へ</a>
        </li>

        <li class="pagination01__item">
          <span class="pagination01__current" href="" aria-current="page">1</span>
        </li>

        <li class="pagination01__item">
          <a class="pagination01__number" href="">2</a>
        </li>

        <li class="pagination01__item">
          <a class="pagination01__number" href="">3</a>
        </li>

        <li class="pagination01__item">
          <span class="pagination01__dots" href="">…</span>
        </li>

        <li class="pagination01__item">
          <a class="pagination01__number" href="">7</a>
        </li>

        <li class="pagination01__item">
          <a class="pagination01__next" href="">次へ</a>
        </li>
      </ol>
    </nav>

  </div><!-- /.l-container -->
</main>


<%- include('../components/common/_footer', { src: '../../' }) %>


</body>
</html>
