// 表・特定商取引法に関する表記


// 変数、ミックスイン、関数
@use "../../../global/" as g;


.lawTable {
  width: 100%;
  border: solid 1px g.$x-baseColor;

  &__row {
    border: solid 1px g.$x-baseColor;
  }

  &__header,
  &__data {
    padding: 10px 15px;
    vertical-align: middle;
    @include g.fz(12);
  }

  &__header {
    width: 30%;
    background-color: g.$baseColor;
  }


  @include g.mq('sm-min') {

    &__header,
    &__data {
      padding: 20px;
      @include g.fz(16);
    }
  }
}
