// ヒーローイメージ・トップページ


// 変数、ミックスイン、関数
@use "../../../global" as g;


.topHero {
  padding-block: 20px;
  background-color: g.$mainColor;
  color: g.$whiteColor;

  &__inner {
    max-width: 1080px;
    padding-inline: 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  &__catch {
    @include g.fz(20);
    font-weight: bold;
    line-height: 2;
  }

  &__figure {
    margin-block-end: 20px;
    text-align: center;
  }


  @include g.mq {
    padding-block: 60px;

    &__inner {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__catch {
      padding-inline: 8.3333%;
      font-size: min(3.3333vw, 2.25rem);
    }

    &__figure {
      flex-shrink: 0;
      width: 40%;
      margin-block-end: 0;
    }
  }
}
